.app {
    background-color: #0e1014;
    background-image: url('/public/bg-desktop.png');
    background-size: cover;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .app {
        background-image: none;
    }
}
